body {
  background-image: url('backg.jpg'); /* Replace 'your-image-url.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; /* Remove default margin to cover the entire page */
  height: 100vh; /* Set height to 100% of the viewport height */
  overflow: hidden; /* Hide any potential overflow */
}

  .Details {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(205, 156, 238);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
  }
  .form {
    margin-bottom: 20px;
  }
  .form label {
    display: block;
    margin-bottom: 5px;
  }
  .form input {
    width: calc(100% - 12px);
    padding: 8px;
    font-size: 16px;
  }
  .form .required::after{
      content: ' *';
      color: red;
  }
  .Details button {
    font-size: 16px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .Details button:hover {
    background-color: #2980b9;
  }

  table {
    height: 50%;
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  tr {
    background-color: #f4bebe;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
  }
  tr:hover {
    background-color: violet;
  }
  td {
    padding: 12px;
    text-align: left;
  }
  td:first-child {
    background-color: #4c93af;
    color: white;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  td:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  #errormessage {
    color: red;
    font-size: large;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }




 
