body {
    font-family: Arial, sans-serif;
    margin: 20%;
    padding: 0%;
    background-color: #f4f4f4;
    background-image: url('backg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
  }
  .Details {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(205, 156, 238);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
  }
  .form {
    margin-bottom: 20px;
  }
  .form label {
    display: block;
    margin-bottom: 5px;
  }
  .form input {
    width: calc(100% - 12px);
    padding: 8px;
    font-size: 16px;
  }
  .Details button {
    font-size: 16px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .Details button:hover {
    background-color: #2980b9;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: white;
    font-family: sans-serif;
  }
  table td {
    border: medium hidden rgb(60, 58, 173);
    padding: 7px 10px;
    text-align: left;
  }
  table tbody tr {
    border-bottom: 1px solid #d289ec;  
  }
  table tbody tr:nth-of-type(even) {
    background-color: #b771ec;
  }
  table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  /*table th {
    background-color: #f4f4f4;
  }*/
















































/*body{
    background-image: url('kge.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; /* make sure entire element is always covered
}
.background{
    width: 50%;
    height: 50%;
    border: 10px;
    border-color: blue;
    margin: 20px;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}
.background .bg ul{
    list-style: none;
    font-size: 2rem;
}
.background .bg button{
    font-size: 1.5rem;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
    display: flex
}*/